<div *ngFor = "let row of title;" style="background-color: red;">
   {{row.name | translate }}
   {{row.id}}
</div>
<h2 class="text-center"> {{'login.title' | translate }} </h2>



<div class="btn-group">
  <button type="button" class="btn btn-primary" (click)="useLanguage('ta')">  {{'login.button.ta' | translate}}  </button>
  <button type="button" class="btn btn-primary" (click)="useLanguage('fr')">  {{'login.button.fr' | translate}}  </button>
  <button type="button" class="btn btn-primary" (click)="useLanguage('zh')">  {{'login.button.zh' | translate}}  </button>
  <button type="button" class="btn btn-primary" (click)="useLanguage('en')"> {{'login.button.en' | translate}} </button>
</div>